.baner
    background: $dark
    min-height: 850px
    overflow: hidden
    padding: 50px 0 0
    &:before
        content: ""
        position: absolute
        bottom: -100px
        left: -10%
        right: -10%
        height: 200px
        background: $light
        transform: rotate(4deg)
    &__hero
        padding-top: 180px
        padding-bottom: 350px
    &__date
        font-family: 'Druk Wide'
        font-weight: 600
        font-size: 28px
        line-height: 120%
        color: $primary
        margin-bottom: 30px
    &__title
        color: $light
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        margin-bottom: 20px
    &__text
        color: $light
        margin-bottom: 70px
        max-width: 580px
    &__main-img
        position: absolute
        bottom: 0
        right: 0
        width: 60%
    &__cubok
        position: absolute
        left: 0
        bottom: -60px
    &__ball
        position: absolute
        bottom: 0
        right: 75px
        width: 33%