.header
    position: fixed
    width: 100%
    background: $dark
    z-index: 10
    &__hero
        padding: 25px 0
        display: flex
        align-items: center
    &__logo
        margin-right: 100px
    &__btn
        padding: 10px 29.5px
        margin-left: auto
.menu
    display: flex
    align-items: center
    &__item
        color: $light
        margin-left: 50px
        & a
            transition: color .3s ease
            &:hover
                color: $primary