@font-face {
  font-family: 'Druk Wide';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk Wide Cy Web Bold Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-family: 'Exo 2', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1630px;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #F4F4F4;
  background: #FF230A;
  padding: 15px 40.5px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.title {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

.text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.d-none {
  display: none;
}

@media screen and (max-width: 1630px) {
  .container {
    max-width: 1280px;
  }
  .text {
    font-size: 16px;
  }
  .title {
    font-size: 32px;
  }
  .btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1248px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 880px;
  }
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 30px;
  }
  .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 0 16px;
  }
}

.header {
  position: fixed;
  width: 100%;
  background: #101521;
  z-index: 10;
}

.header__hero {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: padding .3s ease;
  transition: padding .3s ease;
}

.header__logo {
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__btn {
  padding: 10px 29.5px;
  margin-left: auto;
}

.header.fixed .header__hero {
  padding: 20px 0;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  color: #F4F4F4;
  margin-left: 50px;
}

.menu__item a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu__item a:hover {
  color: #FF230A;
}

@media screen and (max-width: 1630px) {
  .header__logo {
    margin-right: 25px;
  }
  .header__logo a svg {
    width: 196px;
  }
  .menu__item {
    margin-left: 40px;
  }
}

@media screen and (max-width: 960px) {
  .header__logo {
    margin-right: 20px;
  }
  .header__logo a svg {
    width: 150px;
  }
  .header__hero {
    padding: 15px 0;
  }
  .header.fixed .header__hero {
    padding: 15px 0;
  }
  .menu__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 720px) {
  .header__logo a svg {
    width: 118px;
  }
  .header__hero {
    padding: 10px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header.fixed .header__hero {
    padding: 10px 0;
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header__logo a svg {
    width: 187px;
  }
  .header__hero {
    padding: 16px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header.fixed .header__hero {
    padding: 16px 0;
  }
}

.baner {
  background: #101521;
  min-height: 850px;
  overflow: hidden;
  padding: 50px 0 0;
}

.baner:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.baner__hero {
  padding-top: 180px;
  padding-bottom: 350px;
}

.baner__date {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  margin-bottom: 30px;
}

.baner__title {
  color: #F4F4F4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.baner__text {
  color: #F4F4F4;
  margin-bottom: 70px;
  max-width: 580px;
}

.baner__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

.baner__main-img-720 {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

.baner__main-img-375 {
  display: none;
  position: absolute;
}

.baner__cubok {
  position: absolute;
  left: 0;
  bottom: -60px;
}

.baner__ball {
  position: absolute;
  bottom: 0;
  right: 75px;
  width: 33%;
}

@media screen and (max-width: 1630px) {
  .baner {
    min-height: 750px;
  }
  .baner__date {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .baner__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .baner__cubok {
    width: 280px;
    bottom: -50px;
  }
  .baner__hero {
    padding-top: 100px;
    padding-bottom: 250px;
  }
}

@media screen and (max-width: 1280px) {
  .baner {
    min-height: 700px;
  }
  .baner:before {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .baner__cubok {
    width: 200px;
    bottom: 0px;
  }
}

@media screen and (max-width: 960px) {
  .baner {
    min-height: 650px;
  }
  .baner:before {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
    height: 100px;
    bottom: -60px;
  }
  .baner__hero {
    padding-bottom: 150px;
  }
  .baner__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .baner__text {
    margin-bottom: 50px;
  }
  .baner__cubok {
    bottom: -30px;
  }
}

@media screen and (max-width: 720px) {
  .baner {
    min-height: 500px;
  }
  .baner__hero {
    padding-top: 50px;
  }
  .baner__cubok {
    bottom: -20px;
    width: 150px;
  }
  .baner__main-img {
    display: none;
  }
  .baner__main-img-720 {
    display: block;
  }
  .baner__text {
    max-width: 434px;
  }
}

@media screen and (max-width: 500px) {
  .baner__main-img {
    display: none;
  }
  .baner__main-img-720 {
    width: 100%;
  }
  .baner__hero {
    padding-bottom: 300px;
  }
  .baner__ball {
    width: 50%;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .baner__cubok {
    right: 0;
    left: auto;
    width: 130px;
  }
}

@media screen and (max-width: 425px) {
  .baner__title {
    margin-bottom: 8px;
  }
  .baner__text {
    margin-bottom: 32px;
  }
  .baner__main-img-720 {
    display: none;
  }
  .baner__main-img-375 {
    display: block;
    width: 100%;
    bottom: 0;
    max-width: 375px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .baner__ball {
    left: 50%;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
  }
}

@media screen and (max-width: 350px) {
  .baner__ball {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.conditions {
  background: #F4F4F4;
  overflow: hidden;
}

.conditions__title {
  text-align: center;
  color: #101521;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.conditions__subtitle {
  margin-bottom: 70px;
  text-align: center;
}

.conditions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.conditions__step {
  padding: 0 30px;
  width: 400px;
}

.conditions__hero {
  position: relative;
  background: #fff;
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
  padding: 30px 50px;
}

.conditions__step-title {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  margin-bottom: 38px;
}

.conditions__img {
  display: block;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.conditions__step-descr {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #101521;
  width: 80%;
  margin: auto;
}

.rules-and-eligibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules-and-eligibility__item {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.rules-and-eligibility__title {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #101521;
  margin-bottom: 15px;
}

.rules-and-eligibility__text {
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #101521;
}

.first-step {
  border-radius: 60px 0px 0px 0px;
}

.first-step::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  background-size: 100% 100%;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

.last-step {
  border-radius: 0px 0px 60px 0px;
}

.last-step::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  background-size: 100% 100%;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(40%, -40%) rotate(180deg);
          transform: translate(40%, -40%) rotate(180deg);
}

@media screen and (max-width: 1630px) {
  .conditions__step {
    padding: 0 15px;
    width: 335px;
  }
  .conditions__step-descr {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .conditions {
    padding-bottom: 50px;
  }
  .conditions__subtitle {
    margin-bottom: 50px;
  }
  .conditions__list {
    margin-bottom: 50px;
  }
  .rules-and-eligibility__item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

@media screen and (max-width: 1040px) {
  .conditions__title {
    margin-bottom: 10px;
  }
  .conditions__step-title {
    font-size: 20px;
    margin-bottom: 36px;
  }
  .conditions__img {
    width: 85px;
  }
  .conditions__step-descr {
    font-size: 16px;
  }
  .conditions__hero {
    padding: 30px;
  }
  .conditions__step {
    width: 250px;
  }
  .rules-and-eligibility__text {
    font-size: 14px;
  }
  .first-step::before {
    width: 132px;
    height: 135px;
  }
  .last-step::before {
    width: 132px;
    height: 135px;
  }
}

@media screen and (max-width: 800px) {
  .conditions__subtitle {
    margin-bottom: 30px;
  }
  .conditions__list {
    margin-bottom: 30px;
    width: calc(100% + 18px);
    -webkit-transform: translateX(-9px);
            transform: translateX(-9px);
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .conditions__step {
    padding: 0 9px;
  }
  .conditions__step {
    width: 220px;
  }
  .conditions__hero {
    padding: 30px 25px;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .conditions__list {
    width: calc(100% + 8px);
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  .conditions__step {
    padding: 0 4px;
  }
}

@media screen and (max-width: 600px) {
  .conditions {
    padding-bottom: 0;
  }
  .conditions__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .conditions__step {
    width: 275px;
    padding: 0;
    margin-bottom: 20px;
  }
  .conditions__img {
    width: 122px;
  }
  .first-step::before {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
    width: 118px;
    height: 120px;
    -webkit-transform: translate(40%, -40%) rotate(180deg);
            transform: translate(40%, -40%) rotate(180deg);
  }
  .last-step::before {
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    width: 118px;
    height: 120px;
    -webkit-transform: translate(-40%, 40%);
            transform: translate(-40%, 40%);
  }
  .rules-and-eligibility {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rules-and-eligibility__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.prizes {
  background: #101521;
  padding: 150px 0 250px;
  overflow: hidden;
  background: url("../assets/prizes/design/bg.jpg") no-repeat;
  background-position-y: center;
  background-size: 100% 100%;
}

.prizes:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.prizes:after {
  content: "";
  position: absolute;
  top: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.prizes__title {
  margin-bottom: 30px;
  text-align: center;
  color: #F4F4F4;
  text-transform: uppercase;
}

.prizes__subtitle {
  margin-bottom: 115px;
  text-align: center;
  color: #F4F4F4;
}

.prizes__item-wrap {
  position: relative;
  max-width: 560px;
  max-height: 270px;
}

.prizes__item-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(263.78deg, #FF230A 1.05%, #6A0F05 97.77%);
  border-radius: 20px;
  -webkit-transform: rotate(-5deg) translate(-18px, -28px);
          transform: rotate(-5deg) translate(-18px, -28px);
}

.prizes__item-wrap:nth-child(4) {
  margin-left: auto;
  margin-right: 230px;
  margin-bottom: 100px;
}

.prizes__item-wrap:nth-child(5) {
  margin-left: 230px;
  margin-bottom: 40px;
}

.prizes__item-wrap:nth-child(6) {
  margin-left: auto;
}

.prizes__item-wrap:nth-child(7) {
  margin-top: -20px;
  margin-bottom: 100px;
}

.prizes__item-wrap:nth-child(8) {
  margin: auto;
}

.prizes__item {
  background: #F4F4F4;
  -webkit-box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4), inset 4px 4px 8px rgba(255, 255, 255, 0.35);
          box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4), inset 4px 4px 8px rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 270px;
}

.prizes__mobile-img {
  display: none;
}

.prizes__img {
  height: 100%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.prizes__hero {
  padding-top: 25px;
  padding-right: 15px;
}

.prizes__price {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #FF230A;
  margin-bottom: 5px;
}

.prizes__gift {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #101521;
  margin-bottom: 10px;
}

.prizes__text span {
  color: #FF230A;
}

.prizes__white-tree {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 2;
}

.prizes__tree {
  position: absolute;
  bottom: 0;
  right: 0;
}

.prizes__box {
  position: absolute;
  bottom: 0;
  left: 0;
}

.prizes__frost {
  position: absolute;
  top: 340px;
  left: 41%;
}

.prizes__btn {
  margin: auto;
  margin-top: 70px;
}

.prizes__top-snow {
  display: none;
  position: absolute;
}

.prizes__left-snow {
  display: none;
  position: absolute;
}

.prizes__right-snow {
  display: none;
  position: absolute;
}

.prizes__bottom-snow {
  display: none;
  position: absolute;
}

.prizes__dark-snow {
  display: none;
  position: absolute;
}

.grand-prize {
  min-width: 870px;
  min-height: 320px;
}

.grand-prize::before {
  content: 'Grand Prize';
  color: #F4F4F4;
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: right;
  padding: 15px 35px;
  -webkit-transform: rotate(-5deg) translate(-25px, -55px);
          transform: rotate(-5deg) translate(-25px, -55px);
}

.grand-prize .prizes__item {
  max-height: 320px;
}

.grand-prize .prizes__hero {
  padding-top: 45px;
  padding-right: 30px;
}

.grand-prize .prizes__price {
  font-size: 28px;
}

.grand-prize .prizes__gift {
  font-size: 32px;
}

.grand-prize .prizes__img {
  -webkit-transform: translateY(-22.5%);
          transform: translateY(-22.5%);
}

@media screen and (max-width: 1630px) {
  .prizes {
    background: url("../assets/prizes/design/bg-1630.png") no-repeat;
    background-position-y: center;
    background-size: 100% 100%;
  }
  .prizes__item-wrap {
    max-width: 480px;
    max-height: 240px;
  }
  .prizes__item-wrap:nth-child(4) {
    margin-left: auto;
    margin-right: 80px;
    margin-bottom: 100px;
  }
  .prizes__item-wrap:nth-child(5) {
    margin-left: 80px;
    margin-bottom: 40px;
  }
  .prizes__item-wrap:nth-child(6) {
    margin-left: auto;
  }
  .prizes__item-wrap:nth-child(7) {
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .prizes__item-wrap:nth-child(8) {
    margin: auto;
  }
  .prizes__img {
    width: 200px;
  }
  .prizes__hero {
    padding-bottom: 15px;
  }
  .prizes__tree {
    width: 240px;
    right: 30px;
  }
  .prizes__box {
    width: 300px;
  }
  .prizes__top-snow {
    display: block;
    left: 200px;
    top: 200px;
    width: 38px;
    height: 38px;
  }
  .prizes__left-snow {
    display: block;
    left: 90px;
    top: 30%;
    width: 90px;
    height: 90px;
  }
  .prizes__right-snow {
    display: block;
    width: 35px;
    height: 35px;
    right: 170px;
    top: 38%;
  }
  .prizes__bottom-snow {
    display: block;
    width: 35px;
    height: 35px;
    left: 200px;
    bottom: 340px;
  }
  .prizes__dark-snow {
    display: block;
    top: 65%;
    right: 100px;
    width: 100px;
    height: 100px;
  }
  .prizes__frost {
    top: 280px;
    left: 45%;
  }
  .grand-prize .prizes__img {
    width: 400px;
  }
}

@media screen and (max-width: 1280px) {
  .prizes:before {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .prizes:after {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .prizes__tree {
    width: 190px;
    right: 30px;
  }
  .prizes__box {
    width: 250px;
  }
  .prizes__white-tree {
    width: 210px;
  }
  .prizes__item-wrap {
    margin-bottom: 60px;
  }
  .prizes__item-wrap:nth-child(4) {
    margin-right: 0px;
    margin-bottom: 60px;
  }
  .prizes__item-wrap:nth-child(5) {
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .prizes__item-wrap:nth-child(7) {
    margin-bottom: 100px;
  }
  .prizes__top-snow {
    left: 40px;
    top: 200px;
  }
  .prizes__left-snow {
    left: 90px;
    top: 30%;
    width: 50px;
    height: 50px;
  }
  .prizes__right-snow {
    right: 20px;
    top: 38%;
  }
  .prizes__bottom-snow {
    left: 100px;
    bottom: 140px;
  }
  .prizes__dark-snow {
    width: 80px;
    height: 80px;
  }
  .prizes__frost {
    width: 156px;
    top: 315px;
    left: 51%;
  }
  .grand-prize {
    min-width: 680px;
    min-height: 270px;
  }
  .grand-prize::before {
    content: 'Grand Prize';
    color: #F4F4F4;
    font-family: 'Druk Wide';
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-align: right;
    padding: 15px 35px;
    -webkit-transform: rotate(-5deg) translate(-25px, -55px);
            transform: rotate(-5deg) translate(-25px, -55px);
  }
  .grand-prize .prizes__item {
    max-height: 270px;
  }
  .grand-prize .prizes__hero {
    padding-top: 35px;
    padding-right: 30px;
  }
  .grand-prize .prizes__price {
    font-size: 18px;
  }
  .grand-prize .prizes__gift {
    font-size: 28px;
  }
  .grand-prize .prizes__img {
    -webkit-transform: translateY(-22.5%);
            transform: translateY(-22.5%);
    width: 330px;
  }
}

@media screen and (max-width: 960px) {
  .prizes {
    padding: 150px 0 100px;
    background: url("../assets/prizes/design/bg-960.png") no-repeat;
    background-position-y: center;
    background-size: 100% 100%;
  }
  .prizes:before {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
    height: 100px;
    bottom: -60px;
  }
  .prizes:after {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  .prizes__item-wrap {
    max-width: 410px;
    max-height: 210px;
    margin-left: 40px;
  }
  .prizes__item-wrap:nth-child(5) {
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .prizes__item-wrap:nth-child(6) {
    margin-bottom: 80px;
  }
  .prizes__img {
    height: 200px;
  }
  .prizes__hero {
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .prizes__tree {
    width: 150px;
  }
  .prizes__box {
    width: 200px;
  }
  .prizes__white-tree {
    width: 150px;
    right: 20px;
  }
  .prizes__title {
    margin-bottom: 10px;
  }
  .prizes__btn {
    margin-top: 50px;
  }
  .prizes__dark-snow {
    width: 75px;
    height: 75px;
    right: -5px;
  }
  .prizes__frost {
    width: 100px;
    top: 410px;
    left: 67%;
  }
  .grand-prize {
    min-width: 540px;
    min-height: 240px;
  }
  .grand-prize::before {
    font-size: 20px;
    -webkit-transform: rotate(-5deg) translate(-18px, -40px);
            transform: rotate(-5deg) translate(-18px, -40px);
  }
  .grand-prize .prizes__item {
    max-height: 240px;
  }
  .grand-prize .prizes__gift {
    font-size: 20px;
  }
  .grand-prize .prizes__img {
    width: 250px;
    height: 250px;
  }
  .grand-prize .prizes__hero {
    padding-top: 25px;
  }
}

@media screen and (max-width: 720px) {
  .prizes__item-wrap {
    margin-left: 20px;
  }
  .prizes__white-tree {
    width: 100px;
    top: 20px;
  }
  .prizes__tree {
    width: 100px;
    right: 0;
  }
  .prizes__box {
    width: 100px;
  }
  .prizes__dark-snow {
    width: 56px;
    height: 56px;
  }
  .prizes__frost {
    display: none;
  }
  .grand-prize {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@media screen and (max-width: 600px) {
  .prizes__item-wrap {
    max-width: 310px;
    max-height: 300px;
    min-height: 0;
    margin-left: 0;
  }
  .prizes__item-wrap:nth-child(5) {
    margin-left: 0;
  }
  .prizes__item-wrap:nth-child(5) .prizes__hero {
    padding: 80px 10px 10px;
  }
  .prizes__item-wrap::before {
    -webkit-transform: rotate(-3deg) translate(-10px, -15px);
            transform: rotate(-3deg) translate(-10px, -15px);
  }
  .prizes__img {
    display: none;
  }
  .prizes__hero {
    padding: 58px 10px 30px;
  }
  .prizes__mobile-img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    max-width: 205px;
  }
  .prizes__tree {
    width: 90px;
    right: -20px;
  }
  .prizes__box {
    left: -20px;
  }
  .prizes__white-tree {
    right: 0;
    width: 90px;
  }
  .prizes__top-snow {
    left: 30px;
    top: 90px;
    width: 40px;
    height: 40px;
    z-index: 2;
  }
  .prizes__bottom-snow {
    left: 50px;
    bottom: 140px;
    width: 24px;
    height: 24px;
  }
  .grand-prize {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    min-width: 100%;
  }
  .grand-prize::before {
    -webkit-transform: rotate(-5deg) translate(0px, -30px);
            transform: rotate(-5deg) translate(0px, -30px);
    font-size: 14px;
    padding: 5px 15px;
    bottom: 100px;
  }
}

@media screen and (max-width: 425px) {
  .prizes {
    background: url("../assets/prizes/design/bg-425.png") no-repeat;
    background-position-y: center;
    background-size: cover;
  }
}

.why {
  background: #F4F4F4;
  overflow: hidden;
  padding-top: 0;
}

.why__title {
  text-align: center;
  margin-bottom: 30px;
  color: #101521;
  text-transform: uppercase;
}

.why__subtitle {
  text-align: center;
  margin-bottom: 70px;
  color: #101521;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__list-item {
  position: relative;
  background: #fff;
  padding: 70px 50px;
  margin-right: 28px;
  height: 100%;
}

.why__name {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #101521;
  margin-bottom: 30px;
}

.why__price {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  height: 70px;
  margin-bottom: 42px;
}

.why__item {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #101521;
  margin-bottom: 20px;
  padding-left: 20px;
}

.why__item:last-child {
  margin-bottom: 0;
}

.why__item::before {
  position: absolute;
  background: #101521;
  content: "";
  left: 0;
  top: 50%;
  border-radius: 2px;
  width: 5px;
  height: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.why__trophy {
  display: none;
}

.why-first-item {
  border-radius: 60px 0px 0px 0px;
}

.why-first-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

.why-fourth-item {
  margin-right: 0;
  border-radius: 0px 0px 60px 0px;
}

.why-fourth-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(40%, -40%) rotate(180deg);
          transform: translate(40%, -40%) rotate(180deg);
}

@media screen and (max-width: 1630px) {
  .why {
    padding-bottom: 50px;
  }
  .why__list-item {
    padding: 50px 25px;
    margin-right: 20px;
  }
  .why__name {
    font-size: 28px;
  }
  .why__price {
    font-size: 18px;
    margin-bottom: 30px;
    height: 40px;
  }
  .why__item {
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .why__subtitle {
    margin-bottom: 50px;
  }
  .why__list-wrap {
    padding: 0 10px 20px;
  }
  .why__list-item {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .why {
    padding-bottom: 30px;
  }
  .why__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .why__list-item {
    margin-right: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 275px;
  }
  .why__list-wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .why-first-item {
    margin-left: auto;
  }
  .why-first-item::before {
    display: none;
  }
  .why-second-item {
    position: relative;
  }
  .why-second-item::before {
    content: "";
    position: absolute;
    left: 172px;
    top: 0;
    background: url("../assets/conditions/design.png") no-repeat;
    width: 172px;
    height: 175px;
    -webkit-transform: translate(0%, -40%) rotate(180deg);
            transform: translate(0%, -40%) rotate(180deg);
    z-index: 2;
  }
  .why-third-item {
    position: relative;
    margin-left: auto;
  }
  .why-third-item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: url("../assets/conditions/design.png") no-repeat;
    width: 172px;
    height: 175px;
    -webkit-transform: translate(-40%, 40%);
            transform: translate(-40%, 40%);
  }
  .why-fourth-item::before {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .why__title {
    margin-bottom: 10px;
  }
  .why__name {
    font-size: 20px;
  }
  .why__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .why__subtitle {
    margin-bottom: 30px;
  }
  .why__trophy {
    display: block;
    position: absolute;
    right: -10px;
    bottom: 0px;
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 650px) {
  .why__list-wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .why__list-item {
    margin: 0 auto;
  }
  .why__trophy {
    bottom: 50px;
  }
  .why-first-item {
    margin: 0 auto;
  }
  .why-first-item::before {
    width: 110px;
    height: 110px;
    display: block;
    right: 0;
    left: auto;
    top: 0;
    -webkit-transform: translate(40%, -40%) rotate(180deg);
            transform: translate(40%, -40%) rotate(180deg);
    background-size: 100% 100%;
  }
  .why-second-item {
    margin: 0 auto;
  }
  .why-second-item::before {
    display: none;
  }
  .why-third-item {
    margin: 0 auto;
  }
  .why-third-item::before {
    display: none;
  }
  .why-fourth-item {
    margin: 0 auto;
  }
  .why-fourth-item::before {
    width: 110px;
    height: 110px;
    display: block;
    bottom: 0;
    top: auto;
    right: auto;
    left: 0;
    -webkit-transform: translate(-40%, 40%);
            transform: translate(-40%, 40%);
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 425px) {
  .why__name {
    margin-bottom: 20px;
  }
  .why__trophy {
    right: -40px;
  }
}

.join {
  background: #101521;
  overflow: hidden;
}

.join:after {
  content: "";
  position: absolute;
  top: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.join__title {
  text-align: center;
  color: #F4F4F4;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 100px;
}

.join__text {
  color: #F4F4F4;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 70px;
}

.join__btn {
  margin: auto;
}

.join__coin {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 2;
}

.join__spiral {
  position: absolute;
  bottom: 0;
  right: -20px;
}

.join__trophy {
  position: absolute;
  top: -60px;
  right: -150px;
  z-index: 3;
}

@media screen and (max-width: 1630px) {
  .join__trophy {
    width: 300px;
    height: 300px;
    right: -100px;
    top: 0;
  }
  .join__coin {
    width: 200px;
    height: 200px;
  }
  .join__spiral {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 1280px) {
  .join:after {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .join__text {
    margin-bottom: 50px;
  }
  .join__trophy {
    width: 230px;
    height: 230px;
    right: -80px;
    top: 0;
  }
  .join__coin {
    width: 150px;
    height: 150px;
    left: -30px;
  }
  .join__spiral {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 960px) {
  .join:after {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  .join__title {
    margin-bottom: 10px;
  }
  .join__trophy {
    width: 200px;
    height: 200px;
    right: -50px;
  }
  .join__coin {
    width: 100px;
    height: 100px;
    left: -30px;
    top: 80px;
  }
  .join__spiral {
    width: 100px;
    height: 100px;
    bottom: 80px;
  }
}

@media screen and (max-width: 720px) {
  .join {
    padding-top: 30px;
  }
  .join::after {
    height: 130px;
  }
  .join__text {
    margin-bottom: 30px;
  }
  .join__trophy {
    display: none;
  }
  .join__coin {
    top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .join__title {
    text-align: left;
  }
  .join__btn {
    margin-right: auto;
    margin-left: 0;
  }
}

.partners {
  background: #101521;
  padding: 50px 0 0;
  overflow: hidden;
}

.partners__hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(244, 244, 244, 0.1);
  margin-left: calc(50vw - 815px + 40px);
}

.partners__title {
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F4F4F4;
  margin-right: 60px;
}

.partners__img {
  opacity: 0.8;
  padding: 0 20px;
}

@media screen and (max-width: 1680px) {
  .partners__hero {
    margin-left: calc(50vw - 640px + 40px);
  }
  .partners__title {
    text-transform: initial;
  }
}

@media screen and (max-width: 1280px) {
  .partners__hero {
    margin-left: 40px;
  }
}

@media screen and (max-width: 720px) {
  .partners__hero {
    margin-left: 24px;
  }
  .partners__title {
    font-size: 22px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .partners__hero {
    margin-left: 16px;
  }
  .partners__title {
    margin-right: 15px;
  }
}

.footer {
  padding: 100px 0;
  background: #101521;
}

.footer__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #8F95A5;
}

.footer__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.footer__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__main-text {
  margin-bottom: 16px;
}

.footer__home-title {
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer__home a {
  margin-bottom: 20px;
  display: block;
  color: #8F95A5;
}

.footer__contacts {
  margin-top: 38px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.footer__socials a {
  margin-right: 16px;
}

.footer__socials a svg path {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer__socials a svg:hover path {
  fill: #FF230A;
}

a.footer__text {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

a.footer__text:hover {
  color: #FF230A;
}

@media screen and (max-width: 960px) {
  .footer__hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__info-wrap {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 60px;
  }
  .footer__home:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer__contacts {
    margin-top: 0;
  }
  .footer__main-text {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {
  .footer__info-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__home:first-child {
    margin-right: 100px;
  }
  .footer__home:nth-child(2) {
    margin-bottom: 50px;
  }
  .footer__home:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__information {
    margin-right: 55px;
  }
}

@media screen and (max-width: 425px) {
  .footer__home:first-child {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 0;
  }
  .footer__home:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__information {
    margin-right: 0px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../assets/modal/bg.png") no-repeat;
  background-size: cover;
  z-index: 100;
  overflow-y: scroll;
  padding-top: 120px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.modal.displayed {
  display: block;
}

.modal.visible {
  opacity: 1;
}

.modal__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__hero {
  max-width: 660px;
  margin: auto;
}

.modal__title {
  margin-bottom: 30px;
  color: #101521;
  text-transform: uppercase;
  text-align: center;
}

.modal__subtitle {
  color: #101521;
  max-width: 623px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.modal__form {
  background: #fff;
  padding: 50px;
  margin-bottom: 80px;
}

.modal__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 30px;
}

.modal__tab-btn {
  font-family: 'Druk Wide';
  background: #fff;
  padding: 20px 10px;
  color: #101521;
  border: 1px solid #101521;
  -webkit-transition: background .3s ease, color .3s ease;
  transition: background .3s ease, color .3s ease;
  width: 100%;
}

.modal__tab-btn:first-child {
  margin-right: 20px;
}

.modal__tab-btn.active {
  background: #101521;
  color: #F4F4F4;
}

.modal__text {
  font-family: 'Druk Wide';
  font-weight: 700;
  text-align: center;
  color: #101521;
  margin-bottom: 20px;
}

.modal__text span {
  color: #FF230A;
}

.modal__send-btn {
  width: 100%;
  margin-bottom: 20px;
}

.modal__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__social-link {
  padding: 0 8px;
}

.modal__new-partners {
  display: none;
}

.modal__new-partners.active {
  display: block;
}

.modal__current-partners {
  display: none;
}

.modal__current-partners.active {
  display: block;
}

.modal__close {
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  position: absolute;
  right: 0;
  top: -50px;
  cursor: pointer;
}

.modal__close div {
  margin-right: 20px;
}

.modal__close svg {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.modal__thanks {
  background: #fff;
  max-width: 660px;
  margin: auto;
}

.modal__thanks-img {
  margin-top: -80px;
  width: 100%;
}

.modal__thanks-title {
  text-align: center;
  font-family: 'Druk Wide';
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  text-align: center;
  color: #101521;
  margin-bottom: 20px;
}

.modal__thanks-text {
  text-align: center;
  margin-bottom: 50px;
  padding: 0 20px;
}

.modal__thanks-btn {
  margin: auto;
  margin-bottom: 50px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.input-wrapper.last {
  margin-bottom: 10px;
}

.input-wrapper input {
  background: #F4F4F4;
  border: 1px solid #808191;
  width: 100%;
  color: #101521;
  font-size-adjust: 18px;
  padding: 30px 20px 10px;
  outline: none;
  caret-color: #FF230A;
}

.input-wrapper input::-webkit-input-placeholder {
  color: #101521;
}

.input-wrapper input:-ms-input-placeholder {
  color: #101521;
}

.input-wrapper input::-ms-input-placeholder {
  color: #101521;
}

.input-wrapper input::placeholder {
  color: #101521;
}

.input-wrapper input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper input:focus::placeholder {
  opacity: 0;
}

.input-wrapper label {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: 'Exo 2';
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #808191;
  z-index: 2;
}

.input-wrapper textarea {
  font-family: 'Exo 2';
  background: #F4F4F4;
  border: 1px solid #808191;
  width: 100%;
  color: #101521;
  font-size-adjust: 18px;
  padding: 30px 20px 10px;
  outline: none;
  resize: none;
}

@media screen and (max-width: 1630px) {
  .modal {
    padding-top: 75px;
  }
  .modal__hero {
    max-width: 600px;
  }
  .modal__title {
    margin-bottom: 20px;
  }
  .modal__subtitle {
    margin-bottom: 20px;
  }
  .modal__form {
    margin-bottom: 40px;
  }
  .modal__text {
    margin-bottom: 15px;
  }
  .modal__send-btn {
    margin-bottom: 15px;
  }
  .modal__thanks {
    max-width: 600px;
  }
  .modal__thanks-img {
    margin-top: -70px;
  }
  .modal__thanks-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .modal__thanks-text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .modal__title {
    margin-bottom: 10px;
  }
  .modal__subtitle {
    margin-bottom: 10px;
  }
  .modal__hero {
    max-width: 520px;
  }
  .modal__form {
    padding: 30px 50px;
  }
  .modal__tabs {
    margin-bottom: 20px;
  }
  .modal__text {
    margin-bottom: 10px;
  }
  .modal__thanks {
    max-width: 520px;
  }
  .modal__thanks-title {
    font-size: 20px;
  }
  .modal__thanks-text {
    margin-bottom: 20px;
  }
  .input-wrapper {
    margin-bottom: 10px;
  }
  .input-wrapper.last {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 720px) {
  .modal {
    background: url("../assets/modal/bg-720.png") no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 425px) {
  .modal {
    background: url("../assets/modal/bg-375.png") no-repeat;
    background-size: cover;
  }
  .modal__title {
    text-align: left;
  }
  .modal__subtitle {
    text-align: left;
  }
  .modal__form {
    padding: 30px 15px;
  }
  .modal__tab-btn {
    padding: 8px;
  }
  .modal__thanks-img {
    margin-top: -50px;
  }
  .modal__thanks-title {
    margin-top: 30px;
  }
  .modal__thanks-text {
    margin-bottom: 20px;
  }
  .modal__thanks-btn {
    margin-bottom: 30px;
  }
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  width: 400px;
  background: #101521;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 20;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu.opened {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.mobile-menu__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 24px;
  height: 24px;
}

.mobile-menu__hero {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 100px;
}

.mobile-menu__item {
  text-align: center;
  margin-bottom: 30px;
}

.mobile-menu__btn {
  padding: 10px 29.5px;
}

@media screen and (max-width: 600px) {
  .mobile-menu {
    width: 100%;
  }
}
