@font-face {
  font-family: 'Druk Wide';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk Wide Cy Web Bold Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-family: 'Exo 2', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1630px;
}

.section {
  width: 100%;
  padding: 100px 0;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #F4F4F4;
  background: #FF230A;
  padding: 15px 40.5px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.title {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

.text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.header {
  position: fixed;
  width: 100%;
  background: #101521;
  z-index: 10;
}

.header__hero {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 100px;
}

.header__btn {
  padding: 10px 29.5px;
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  color: #F4F4F4;
  margin-left: 50px;
}

.menu__item a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu__item a:hover {
  color: #FF230A;
}

.baner {
  background: #101521;
  min-height: 850px;
  overflow: hidden;
  padding: 50px 0 0;
}

.baner:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.baner__hero {
  padding-top: 180px;
  padding-bottom: 350px;
}

.baner__date {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  margin-bottom: 30px;
}

.baner__title {
  color: #F4F4F4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.baner__text {
  color: #F4F4F4;
  margin-bottom: 70px;
  max-width: 580px;
}

.baner__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
}

.baner__cubok {
  position: absolute;
  left: 0;
  bottom: -60px;
}

.conditions {
  background: #F4F4F4;
}

.conditions__title {
  text-align: center;
  color: #101521;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.conditions__subtitle {
  margin-bottom: 70px;
  text-align: center;
}

.conditions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.conditions__step {
  padding: 0 30px;
  max-width: 365px;
}

.conditions__hero {
  position: relative;
  background: #fff;
  -webkit-filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.05));
  padding: 30px 50px;
}

.conditions__step-title {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  margin-bottom: 38px;
}

.conditions__img {
  display: block;
  width: 110px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.conditions__step-descr {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #101521;
}

.rules-and-eligibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rules-and-eligibility__item {
  -ms-flex-preferred-size: 46%;
      flex-basis: 46%;
}

.rules-and-eligibility__title {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #101521;
  margin-bottom: 15px;
}

.rules-and-eligibility__text {
  font-family: 'Exo 2';
  font-weight: 400;
  font-size: 16px;
  color: #101521;
}

.first-step {
  border-radius: 60px 0px 0px 0px;
}

.first-step::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

.last-step {
  border-radius: 0px 0px 60px 0px;
}

.last-step::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(40%, -40%) rotate(180deg);
          transform: translate(40%, -40%) rotate(180deg);
}

.prizes {
  background: #101521;
  padding: 150px 0 250px;
  overflow: hidden;
  background: url("../assets/prizes/design/bg.jpg") no-repeat;
  background-position-y: center;
  background-size: 100% 100%;
}

.prizes:before {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.prizes:after {
  content: "";
  position: absolute;
  top: -100px;
  left: -10%;
  right: -10%;
  height: 200px;
  background: #F4F4F4;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.prizes__title {
  margin-bottom: 30px;
  text-align: center;
  color: #F4F4F4;
  text-transform: uppercase;
}

.prizes__subtitle {
  margin-bottom: 115px;
  text-align: center;
  color: #F4F4F4;
}

.prizes__item-wrap {
  position: relative;
  max-width: 560px;
  max-height: 270px;
}

.prizes__item-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(263.78deg, #FF230A 1.05%, #6A0F05 97.77%);
  border-radius: 20px;
  -webkit-transform: rotate(-5deg) translate(-18px, -28px);
          transform: rotate(-5deg) translate(-18px, -28px);
}

.prizes__item-wrap:nth-child(4) {
  margin-left: auto;
  margin-right: 230px;
  margin-bottom: 100px;
}

.prizes__item-wrap:nth-child(5) {
  margin-left: 230px;
  margin-bottom: 40px;
}

.prizes__item-wrap:nth-child(6) {
  margin-left: auto;
}

.prizes__item-wrap:nth-child(7) {
  margin-top: -20px;
  margin-bottom: 100px;
}

.prizes__item-wrap:nth-child(8) {
  margin: auto;
}

.prizes__item {
  background: #F4F4F4;
  -webkit-box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4), inset 4px 4px 8px rgba(255, 255, 255, 0.35);
          box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.4), inset 4px 4px 8px rgba(255, 255, 255, 0.35);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 270px;
}

.prizes__img {
  height: 100%;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.prizes__hero {
  padding-top: 25px;
  padding-right: 15px;
}

.prizes__price {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #FF230A;
  margin-bottom: 5px;
}

.prizes__gift {
  font-family: 'Druk Wide';
  font-weight: 600;
  color: #101521;
  margin-bottom: 10px;
}

.prizes__text span {
  color: #FF230A;
}

.prizes__white-tree {
  position: absolute;
  top: 0;
  right: 40px;
  z-index: 2;
}

.prizes__tree {
  position: absolute;
  bottom: 0;
  right: 0;
}

.prizes__box {
  position: absolute;
  bottom: 0;
  left: 0;
}

.prizes__frost {
  position: absolute;
  top: 340px;
  left: 41%;
}

.prizes__btn {
  margin: auto;
  margin-top: 70px;
}

.grand-prize {
  max-width: 870px;
  max-height: 320px;
}

.grand-prize::before {
  content: 'Grand Prize';
  color: #F4F4F4;
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: right;
  padding: 15px 35px;
  -webkit-transform: rotate(-5deg) translate(-25px, -55px);
          transform: rotate(-5deg) translate(-25px, -55px);
}

.grand-prize .prizes__item {
  max-height: 320px;
}

.grand-prize .prizes__hero {
  padding-top: 45px;
  padding-right: 30px;
}

.grand-prize .prizes__price {
  font-size: 28px;
}

.grand-prize .prizes__gift {
  font-size: 32px;
}

.grand-prize .prizes__img {
  -webkit-transform: translateY(-22.5%);
          transform: translateY(-22.5%);
}

.why {
  background: #F4F4F4;
}

.why__title {
  text-align: center;
  margin-bottom: 30px;
  color: #101521;
  text-transform: uppercase;
}

.why__subtitle {
  text-align: center;
  margin-bottom: 70px;
  color: #101521;
}

.why__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__list-item {
  position: relative;
  background: #fff;
  padding: 70px 50px;
  margin-right: 28px;
}

.why__list-item:first-child {
  border-radius: 60px 0px 0px 0px;
}

.why__list-item:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(-40%, 40%);
          transform: translate(-40%, 40%);
}

.why__list-item:last-child {
  margin-right: 0;
  border-radius: 0px 0px 60px 0px;
}

.why__list-item:last-child::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../assets/conditions/design.png") no-repeat;
  width: 172px;
  height: 175px;
  -webkit-transform: translate(40%, -40%) rotate(180deg);
          transform: translate(40%, -40%) rotate(180deg);
}

.why__name {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #101521;
  margin-bottom: 30px;
}

.why__price {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  height: 70px;
  margin-bottom: 42px;
}

.why__item {
  position: relative;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #101521;
  margin-bottom: 20px;
  padding-left: 20px;
}

.why__item:last-child {
  margin-bottom: 0;
}

.why__item::before {
  position: absolute;
  background: #101521;
  content: "";
  left: 0;
  top: 50%;
  border-radius: 2px;
  width: 5px;
  height: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
