@font-face {
  font-family: 'Druk Wide';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk-Wide-Cy-Web-Medium-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Druk Wide Cy Web Bold Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-family: 'Exo 2', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F4F4F4;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1630px;
}

.section {
  width: 100%;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #F4F4F4;
  background: #FF230A;
  padding: 15px 40.5px;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

.title {
  font-family: 'Druk Wide';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
}

.text {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.header {
  position: fixed;
  width: 100%;
  background: #101521;
  z-index: 10;
}

.header__hero {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 100px;
}

.header__btn {
  padding: 10px 29.5px;
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  color: #F4F4F4;
  margin-left: 50px;
}

.menu__item a {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.menu__item a:hover {
  color: #FF230A;
}

.baner {
  background: #101521;
  min-height: 100vh;
  overflow-x: hidden;
}

.baner:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  right: -10%;
  height: 130px;
  background: #F4F4F4;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.baner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
}

.baner__date {
  font-family: 'Druk Wide';
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #FF230A;
  margin-bottom: 30px;
}

.baner__title {
  color: #F4F4F4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.baner__text {
  color: #F4F4F4;
  margin-bottom: 70px;
  max-width: 580px;
}

.baner__main-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.baner__cubok {
  position: absolute;
  left: 0;
  bottom: 0;
}
